* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 2rem;
    text-align: center;
    color: #fff;
    background-color: rgb(78, 107, 224);
}

.form-container {
    margin: 2rem;
}



form {
    text-align: center;
    border: 2px solid rgb(107, 107, 235);
    border-radius: 5px;
    padding: 2rem;
    margin-top: 1rem;
    width: 600px;
    margin: 0 auto;
}

p {
    /* border: 1px solid green; */
    padding: 1rem;
}

label {
    position: relative;
    margin: 0 auto;
    width: 500px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue; */
}

p > label[for="pass1"] {
    margin-bottom: 1.5rem;
}

.label-example {
    position: absolute;
    bottom: -.5rem;
    left: 1.5rem;
    font-size: .75rem;
    color: rgb(62, 62, 62);
}

.password-example {
    width: 85%;
    position: absolute;
    bottom: -3.5rem;
    right: 0;
    font-size: .75rem;
    color: rgb(62, 62, 62);
}

span.red-asterisk {
    color: red;
}

input, select {
    width: 300px;
    position: absolute;
    right: 0;
    outline: none;
    padding: .25rem .5rem;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid lightgray;
}

input:focus {
    border: 2px solid lightblue;
}

input:valid {
    border: 2px solid rgb(78, 219, 78);
}

input:focus:invalid {
    border: 2px solid rgb(237, 107, 107);
}

input + span, select + span {
    font-size: .8rem;
    color: red;
    position: absolute;
    bottom: -10px;
    right: 0px;
}

.valid {
    border: 2px solid rgb(78, 219, 78);
}

.invalid {
    border: 2px solid rgb(237, 107, 107);
}

button {
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 1.25rem;
    border: none;
    padding: .75rem 1.5rem;
    border-radius: 6px;
    background-color: rgb(47, 169, 47);
    color: #fff;
    margin-top: 1.5rem;
    cursor: pointer;
}

